/* Desktop navigation styles */
.desktop-nav {
    display: flex;
    gap: 50px;
    margin: 0 auto;
}

.desktop-nav a {
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.desktop-nav a:hover {
    opacity: 0.8;
}

.profile {
    position: relative;
}

.dropdown-menu {
    min-width: 150px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1050;
}

.custom-navbar {
    background-color: #493979 !important; 
}

.custom-navbar .navbar-brand, .custom-navbar .nav-link {
    color: white !important;
}

.custom-navbar .nav-link:hover {
    color: #e1a8f0 !important;
}

.logo-img {
  height: 30px;
  width: auto;
}

.logo-text {
  margin-left: 8px;
  font-size: 18px;
}

.dropdown-menu {
  padding: 15px;
  min-width: 215px;
}

.dropdown-item {
    margin-bottom:5px;
}

.profile-btn {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.switch-role-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch-role-btn:hover, .switch-role-btn.active {
    background-color:#493979;
    color: white;
}

.arrow {
    font-size: 12px;
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(180deg);
}

.role-dropdown {
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
    padding: 3px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 2 5px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.role-item {
    background: transparent;
    border: none;
    padding: 5px 10px;
    text-align: left;
    border-radius: 6px;
    color:#493979;
    width: 100%;
}

.role-item:hover {
    background-color: #e9ecef;
}

.view-profile-btn, .switch-role-btn {
    color: #493979;
    border: 1px solid  #493979;
    padding: 4px 15px;
    width: 100%;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 3px;
}

.view-profile-btn:hover, .switch-role-btn:hover{
    background-color: #493979;
    color: white;
}

.logout-btn {
    color: #c82333;
    border: 1px solid #c82333;
    padding: 4px 15px;
    width: 100%;
    text-align: left;
    border-radius: 10px;
    
}

.logout-btn:hover {
    background-color: #c82333;
    color: white;
}


/* Mobile styles */
@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .offcanvas {
        width: 50% !important; 
        background-color: #493979 !important;
    }
    
    .navbar-toggler {
        display: block;
    }
}

/* Desktop styles */
@media (min-width: 769px) {
    .navbar-toggler {
        display: none;
    }
    
    /* Adjust navbar spacing for desktop */
    .navbar .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}