.request-form-container {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: #f5f5f7;
}

.request-form-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: #493979;
    height: 50px;
    padding: 0 15px;
    color: white;
}

.nav-left {
    width: 50px; 
    display: flex;
    justify-content: flex-start;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; 
    gap: 8px;
}

.nav-right {
    width: 50px;
}

.logo-text {
    font-weight: bold;
    color: #E9B0F8;
    font-family: sa;
}

.request-form-body {
    position: relative;
    display: flex;
    flex-direction: column; 
    background-color: white;
    align-items: center;
    padding: 50px 25px 25px;
    margin: auto; 
    width: 90%;
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1); 
}

@media (min-width: 1024px) {
    .request-form-body {
        max-width: 700px;
        padding: 50px 40px 40px;
    }

    .form-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .date-shift {
        display: flex;
        gap: 40px; 
        width: 100%;
        margin-top: 20px;
    }

    .date, .shift {
        flex: 1; 
    }

    .toggle-group {
        display: flex;
        width: 100%;
    }

    .toggle-btn-am, .toggle-btn-pm {
        flex: 1; 
        padding: 12px;
    }

    .form-input, .confirm-btn {
        width: 100%;
        padding: 12px;
        box-sizing: border-box; 
    }
}

.request-schedule-title {
    font-size: 23px;
    font-weight: 700;
    color: #382d5f;
}

.request-schedule-desc {
    font-size: 16px;
    color: rgb(178, 176, 176);
    text-align: center;
}

.logo-form-img {
    position: absolute; 
    top: -30px; 
    background-color: #493979;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-form-img img {
    width: 35px;
    height: 35px;
}

.back-btn {
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
    margin: 10px;
    color: white;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #b9b8bc;
    color: #555;
}

.form-input-titles {
    color: #493979;
    font-size: 15px;
    font-weight: 500;
}

.date-shift {
    display: flex;
    gap: 10px;
}

.toggle-group {
    display: flex;
   
}

.toggle-btn-am {
    padding: 10px 15px;
    border: 1px solid #493979;
    background: white;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #493979;
}

.toggle-btn-pm {
    padding: 5px 10px;
    border: 1px solid #493979;
    background: white;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #493979;
}

.toggle-btn-pm:hover, .toggle-btn-am:hover {
    background-color:#dfdee1;
    color:#493979;
}

.toggle-btn-am.active, .toggle-btn-pm.active {
    background-color: #493979;
    color: white;
}

.confirm-btn {
    background-color: #493979;
    border-radius: 10px;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.confirm-btn:hover, .submit-btn:hover {
    background-color: #2d2449;
}

.confirm-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.submit-modal, .submit-modal-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.submit-modal-overlay {
    background: rgba(49,49,49,0.8);
}

.submit-modal-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 30px 18px;
    border-radius: 3px;
    max-width: 400px;
    min-width: 330px;
    align-items: center;
    border: 3px solid #493979;
    color: #493979;
    text-align: center;
    border-radius: 20px;
    gap: 5px;
}

.submit-modal-btn {
    display: flex;
    gap: 10px;
}

.submit-modal-btn button {
    flex: 1 ;
    width: 140px;
    height: 40px;
    border-radius: 20px;
}

.go-back-btn {
    background-color: #f1f1f1;
    border: 1px solid #493979;
    color: #493979;
}

.submit-btn, .go-back-btn:hover {
    background-color:#493979;
    color: white;
    border: 1px solid #493979;
}