.login-btn {
    background-color: #6C55B5 !important;
    border: none !important;
    padding: 12px 20px !important;
    font-weight: bold !important;
    color: white !important;
    transition: background-color 0.3s, transform 0.2s !important;
}

.login-btn:hover {
    background-color: #7b65c1 !important;
}